<div class="container-fluid d-flex">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
       &#9776;
    </button>
    <a class="navbar-brand" routerLink="/"><img src="../../assets/rsi.png" class="img-fluid" style="max-height: 4rem;"/></a>
   <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <ng-template [ngIf]="authService.isAuthenticated()">
          <a class="nav-link" routerLink="/dashboard/clients"><h4>DASHBOARD</h4></a>
          <a class="nav-link" routerLink="/new"><h4>NEW PROJECT</h4></a>
        </ng-template>
      </div>
      <div class="navbar-nav ml-auto">
        <ng-template [ngIf]="!authService.isAuthenticated()">
          <a class="nav-link" routerLink="/auth/signin"><h4>SIGNIN</h4></a>
        </ng-template>
        <ng-template [ngIf]="authService.isAuthenticated()">
          <a class="nav-link" style="cursor: pointer" (click)="logout()"><h4>LOGOUT</h4></a>
        </ng-template>
      </div>
    </div>
  </nav>
</div>